---
import { getImage } from "@astrojs/image";
import defaultImageSrc from "~/assets/images/hero.png";

const { src: defaultImage } = await getImage({
    src: defaultImageSrc,
    alt: "Default image",
    width: 1440,
    height: 702,
});

const {
    title = "Minsight",
    description = "Minsight je aplikace, která poskytuje aktuální počty hráčů v online hře Minecraft. Pomocí této aplikace mohou hráči zjistit, kolik lidí právě hraje Minecraft na daném serveru, a rozhodnout se, zda se k serveru chtějí připojit, nebo zda raději vyhledají jiný server s větším počtem hráčů. Minsight také poskytuje různé statistiky a grafy, které hráčům pomáhají lépe pochopit popularitu Minecraftu na různých serverech.",
    url = "https://minsight.lendmark.lol",
    image = defaultImage,
} = Astro.props;

const themeColor = "#ffd621";
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={title} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
<meta name="theme-color" content={themeColor} />
